.form-style{
	width: 700px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #305A72;

}

.field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
    width: 100%;
    margin-bottom: 20px;
	
}

body{
  font-size: large;
}

.style-table {
	margin: auto;
	width: 600px;
	border-collapse: collapse;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 1px solid #305A72;
}


.style-row{
	padding: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #30302f;
    text-align: left;
	margin-bottom: 5px;
	height:40px;
}


tr:hover {background-color: rgb(190, 171, 164);}